.section {}

.section__row {
  display: flex;

  color: $color-white;

  background-color: $color-black;

  @media (max-width: $bp-3+px) {
    flex-direction: column;
  }
}

.section__column {
  flex: 0 0 50%;

  &--image {
    @media (max-width: $bp-3+px) {
      display: none;
    }
  }

  &--content {
    @media (max-width: $bp-3+px) {
      flex: 0 0 auto;
    }
  }
}

.section__image {
  position: relative;

  height: 100%;

  img {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
  }

  @media (max-width: $bp-3+px) {
    flex: 0 0 auto;
    order: 2;
    padding-bottom: 200px
  }
}

.section__title {
  font-family: "AkzidenzGroteskBQCondensed", "Arial", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 50px;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  @media (max-width: $bp-3+px) {
    font-size: 40px;
    text-align: center;
  }
}

.section__subtitle {
  font-family: "AkzidenzGroteskBQCondensed", "Arial", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 25px;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.section__text {
  font-size: 15px;
  line-height: 25px;

  @media (max-width: $bp-3+px) {
    font-size: 14px;
  }
}

.section__link {
  font-family: "Bebas", "Arial", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 19px;
  line-height: 25px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 0.1em;

  @media (max-width: $bp-3+px) {
    font-size: 16px;
  }
}
