.slider {
  overflow: hidden;
}

.slider__inner {}

.slider__list {}

.slider__slide {}

.slider__controls {}

.slider__control {}

.slider__prev,
.slider__next {}

.slider__prev {}

.slider__next {}


/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
}


// .slider .slick-arrow {
//   position: absolute;
//   top: 50%;
//   z-index: 10;

//   transform: translate(0, -50%);
// }

// .slider .slick-arrow.slick-prev {
//   left: 0;
// }

// .slider .slick-arrow.slick-next {
//   right: 0;
// }

// .slider .slick-arrow.slick-disabled {
//   opacity: 0.3;
//   cursor: default;
// }


/* Точки (булиты) */
.slider .slick-dots {
  position: absolute;
  left: 65%;
  // bottom: 107;
  @include adaptiv-value("bottom", 107, 40, 0);

  @media (max-width: $bp-3+px) {
    left: 50%;
    transform: translate(-50%, 0);
  }

  display: flex;
}

.slider .slick-dots li {
  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }
}

/* Активная точка */
.slider .slick-dots li.slick-active button {
  // background-color: yellow;
  background-color: rgba(#ffffff, 1);
}

/* Элемент точки */
.slider .slick-dots li button {
  display: block;
  width: 12px;
  height: 12px;
  padding: 0;
  margin: 0;

  font-size: 0;

  background-color: rgba(#ffffff, 0.2);
  border-radius: 50%;
  border: none;

  &:hover {
    background-color: rgba(#ffffff, 1);
  }
}
