.advantages {
  padding: 75px 0;

  @media (max-width: $bp-1+px) {
    padding: 60px 0;
  }

  @media (max-width: $bp-3+px) {
    padding: 50px 0;
  }

  @media (max-width: $bp-4+px) {
    padding: 40px 0;
  }
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -25px;
}

.advantages__item {
  flex: 0 25%;
  margin-bottom: 25px;

  @media (max-width: $bp-3+px) {
    flex: 0 0 33.333%;
  }

  @media (max-width: 560px) {
    flex: 0 0 50%;
  }

  @media (max-width: $bp-4+px) {
    flex: 0 0 100%;
  }
}

//---------------------------------------------------------
.advantages-item {}

.advantages-item__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

.advantages-item__image {
  position: relative;

  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 102.3%;

  a {
    width: 100%;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
  }
}

.advantages-item__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;

  padding-left: 5px;
  padding-right: 24px;
}

.advantages-item__title {
  margin-bottom: 30px;

  @media (max-width: $bp-3+px) {
    margin-bottom: 20px;
  }

  @media (max-width: $bp-4+px) {
    margin-bottom: 15px;
  }
}

.advantages-item__text {
  margin-bottom: 30px;

  @media (max-width: $bp-3+px) {
    margin-bottom: 20px;
  }

  @media (max-width: $bp-4+px) {
    margin-bottom: 15px;
  }
}

.advantages-item__button {
  margin-bottom: 30px;
  margin-top: auto;

  @media (max-width: $bp-3+px) {
    margin-bottom: 20px;
  }

  @media (max-width: $bp-4+px) {
    margin-bottom: 15px;
  }
}

.advantages-item__link {
  display: block;
}
