.say-hello {
  padding-top: 72px;

  @media (max-width: $bp-1+px) {
    padding-top: 70px;
  }

  @media (max-width: $bp-3+px) {
    padding-top: 60px;
  }

  @media (max-width: $bp-4+px) {
    padding-top: 40px;
  }
}

.say-hello__top {
  margin-bottom: 21px;
}

.say-hello__title {
  margin-bottom: 25px;
  padding: 0 5px;
}

.say-hello__contacts {}

.say-hello__bottom {}

.say-hello__column {
  &--image {
    @media (max-width: $bp-3+px) {
      display: block;
    }
  }
}

.say-hello__form {}


//---------------------------------------------------------
.contacts {
  display: flex;
  flex-wrap: wrap;
}

.contacts__column {
  flex: 0 0 50%;

  @media (max-width: $bp-4+px) {
    flex: 0 0 100%;

    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }
}

.contacts__item {
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 20px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @media (max-width: $bp-3+px) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.contacts__icon {
  margin-right: 10px;
}

.contacts__text {}


//---------------------------------------------------------
.say-hello-form {
  max-width: 440px;
  padding: 50px 0;
  padding-left: 60px;
  padding-right: 5px;

  @media (max-width: $bp-3+px) {
    max-width: none;
    padding: 40px 15px;
  }

  @media (max-width: $bp-4+px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.say-hello-form__title {
  margin-bottom: 25px;
}

.say-hello-form__form {}

.say-hello-form__item {
  &:not(:last-child) {
    margin-bottom: 25px;
  }
}

.say-hello-form__input,
.say-hello-form__textarea {
  width: 100%;
  padding: 10px 16px;

  color: $color-white;
  border: 2px solid #959595;
  background-color: #252525;
}

.say-hello-form__input {}

.say-hello-form__textarea {
  height: 100px;
}

.say-hello-form__button {}
