.header {
  position: relative;

  padding: 29px 0;

  @media (max-width: $bp-1+px) {
    padding: 20px 0;
  }

  @media (max-width: $bp-3+px) {
    padding: 10px 0;

    &::before {
      content: "";

      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      width: 100%;
      height: 100%;

      background-color: $color-white;
    }
  }
}

.header__body {
  padding: 0 5px;

  @media (max-width: $bp-1+px) {
    padding: 0;
  }

  @media (max-width: $bp-3+px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $bp-3+px) {
    flex: 0 0 30%;
  }
}

.header__languages {
  order: 1;

  @media (max-width: $bp-3+px) {
    order: 3;
  }
}

.header__online-ordering {
  position: relative;
  z-index: 11;

  order: 2;

  font-family: "AkzidenzGroteskBQCondensed", "Arial", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 15px;
  line-height: 120%;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;

  br {
    display: none;
  }

  @media (max-width: $bp-4+px) {
    font-size: 12px;

    br {
      display: block;
    }
  }
}

.header__center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -14px;

  @media (max-width: $bp-3+px) {
    margin-top: 0;
  }
}

.header__column {
  flex: 0 0 calc(266 * 100% / 870);

  @media (max-width: $bp-3+px) {
    flex: 0 0 auto;
  }

  &--left {
    order: 1;

    @media (max-width: $bp-3+px) {
      order: 1;
    }
  }
  &--logo {
    flex: 1 0 auto;
    order: 2;
  }
  &--right {
    order: 3;

    @media (max-width: $bp-3+px) {
      order: 2;
    }
  }
}

.header__logo {
  position: relative;
  z-index: 11;

  padding: 0 20px;

  text-align: center;

  img {
    @media (max-width: $bp-1+px) {
      width: 180px;
      height: auto;
    }

    @media (max-width: $bp-3+px) {
      width: 160px;
      height: auto;
    }

    @media (max-width: $bp-4+px) {
      width: 120px;
      height: auto;
    }
  }

  @media (max-width: $bp-3+px) {
    padding: 0;
  }
}

.header__button {
  position: relative;
  z-index: 11;

  display: none;

  @media (max-width: $bp-3+px) {
    display: block;
    flex: 0 0 30%;
  }
}

.header__burger {
  position: relative;

  display: none;
  width: 30px;
  height: 20px;
  margin-left: auto;

  background-color: transparent;

  @media (max-width: $bp-3+px) {
    display: block;
    flex: 0 0 30px;
  }
}

.header__burger::before,
.header__burger::after {
  content: "";

  position: absolute;
  left: 0;

  width: 100%;
  height: 2px;

  background-color: $color-black;

  transition: all 0.3s ease 0s;
}

.header__burger::before {
  top: 1px;
}

.header__burger::after {
  bottom: 0;
}

.header__burger span {
  position: absolute;
  top: 9px;
  left: 0;

  width: 100%;
  height: 2px;
  background-color: $color-black;

  transition: all 0.3s ease 0s;
}

.header__burger.active::before {
  top: 9px;
  transform: rotate(45deg);
}

.header__burger.active::after {
  bottom: 9px;
  transform: rotate(-45deg);
}

.header__burger.active span {
  transform: scale(0);
}

.header__mobile-menu {

  @media (max-width: $bp-3+px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding: 0 15px;
    padding-top: 100px;

    overflow: auto;
    background-color: $color-white;

    transform: translate(-120%, 0);
    transition: transform 0.6s ease;

    &--open {
      transform: translate(0, 0);
    }
  }

  @media (max-width: $bp-4+px) {
    padding-top: 80px;
  }
}


//---------------------------------------------------------
.header-languages {}

.header-languages__list {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $bp-3+px) {
    justify-content: center;
    margin-top: 10px;
  }
}

.header-languages__item {
  &:not(:last-child) {
    margin-right: 12px;
  }
}

.header-languages__link {
  display: inline-block;
  padding: 4.5px 4px;
  font-family: "Bebas", "Arial", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  line-height: 90%;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  &--active {
    color: $color-white;
    background-color: $color-black;
  }

  &:hover {
    color: $color-white;
    background-color: $color-black;
  }
}

//---------------------------------------------------------
.header-logo {
  font-family: "Bebas", "Arial", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 10px;
  text-align: center;

  @media (max-width: $bp-3+px) {
    font-size: 8px;
  }
}

.header-logo__top {
  letter-spacing: 0.6em;

  @media (max-width: $bp-3+px) {
    // display: none;
  }
}

.header-logo__center {
  margin-top: 10px;
  margin-bottom: 26px;

  @media (max-width: $bp-1+px) {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  @media (max-width: $bp-3+px) {
    margin-top: 3px;
    margin-bottom: 6px;
  }

  @media (max-width: $bp-4+px) {
    margin-top: 0;
    margin-bottom: 3px;
  }
}

.header-logo__bottom {
  letter-spacing: 0.8em;

  @media (max-width: $bp-3+px) {
  }
}
