
//FOLDER
$folder-images: "../img/";         // путь к изображениям
$folder-fonts:  "../fonts/";       // путь к шрифтам


//PADDING
$p-w-min: 15;
$p-bp-1:  15;
$p-bp-2:  15;
$p-bp-3:  15;
// $p-w-max: 15;

$padding-width-min: $p-w-min + px;
$padding-bp-1:      $p-bp-1 + px;
$padding-bp-2:      $p-bp-2 + px;
$padding-bp-3:      $p-bp-3 + px;
// $padding-width-max: $p-w-max + px;

//SIZE
$w-layout: 1920;
$w-max: 1200;
$w-bp-1: 970;
$w-bp-2: 750;
$w-bp-3: 420;
$w-min: 320;


$width-layout: $w-layout + px;
$width-max: $w-max + px;
$width-bp-1: $w-bp-1 + px;
$width-bp-2: $w-bp-2 + px;
$width-bp-3: $w-bp-3 + px;
$width-min: $w-min + px;


//BREAK POINT - mobile first
// $bp-1: $w-max + ($p-w-max * 2);
$bp-1: $w-max + ($p-bp-1 * 2);
$bp-2: 991.98;
$bp-3: 767.98;
$bp-4: 479.98;


//RETINA
// $retina-dpi: "min-resolution: 144dpi";
// $retina-dppx: "min-resolution: 1.5dppx";


//COLOR
$color-black: #000000;
$color-white: #ffffff;


//FONT
$font-family-base: "Arial", sans-serif;
$font-size-base: 16px;
$line-height-base: 140%;
$font-weight-base: 400;
$font-color-base: $color-black;

//BACKGROUND
$body-bg-color: $color-white;

//TRANSITION
// $timing-function: 0.0s;

//BORDER
// $bd-color-base: ;

//FORM
// $bd-color-form-item: ;
// $bd-color-form-item--hover: ;
// $bd-color-form-item--active: ;
// $bd-color-form-item--focus: ;
// $bd-width-form-item: px;

// $bg-color-form-icon: ;

// $font-color-form-item: ;

// $timing-function-form: 0.0s;

//fieldset

//legend
// $font-color-legend: ;

//lebel
// $font-color-label--input-text: ;

//input-text

//textarea

//radio

//checkbox

//BUTTON
// $button-bg-color: $color-green;
// $button-bg-color--hover: $color-black;
// $button-text-color: $color-white;
// $button-text-color--hover: $color-green;

//TABLE

